@{
    ViewData["Title"] = "Home Page";
}

<fieldset class="fieldset">
    <legend>Welcome to MyNote!</legend>
    <div class="home-container">
        <div class="welcome-container">
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur consequat purus. Nam ullamcorper dolor a augue commodo pharetra sed ut lectus. Vestibulum bibendum velit id condimentum commodo. Aenean viverra ante vitae felis venenatis, non lobortis eros egestas. Morbi pretium vel dolor eu suscipit. Maecenas at ipsum magna. Sed a est ut nunc mollis tristique. Curabitur eget orci id nisl egestas faucibus laoreet ut ipsum. Fusce dapibus dictum odio, ut vehicula dolor porttitor a.</p>
        </div>

        <div class="login-container">
            <a href="/LogIn"><button class="home-buttons">Login</button></a>
        </div>

        <div class="register-container">
            <a href="/Register"><button class="home-buttons">Register</button></a>
        </div>
    </div>


</fieldset>
